h1
{
    color: yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2
{
    color: yellow;
}



p
{
    font-weight: bold;
    color: black;
}


img
{
    max-width: 100%;
    max-height: 150%;
}


.column 
{
    display: inline-block;
    width: 48%;
}


.col1 
{
    background-color: blue
}


.col2
{
    background-color: red;
}


.title
{
    font-size: 40px;
    color: green;
}


#one 
{
    border: 5px solid black;
}


.col1 img 
{
    display: none;  
}

/**Hero Section**/ 

.hero 
{
    height: 100vh;
    background-image: url("YellowBackground.jpg");
    background-color: yellow; /** fallback background **/
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/** About **/
.container 
{
    max-width: 900px;
    display: block;
    margin: auto;
}

.col-30
{
    width: 29%;
}
.col-70
{
    width: 69%;
}

.content
{
    padding-left: 20px;
    padding-top: 40px;
    vertical-align: top;
}

@media screen and (max-width: 767px) 
{
    .column
    {
        display: block;
        width: 100%; 
    }
}

.logo
{
    width: 35%;
    display: block;
}

.no-list, .nav-items
{
    list-style: none;
    padding: 0;
}

.nav-items li
{
    display:inline-block;
    width: 100px;
}

.nav-items li:hover
{
    background-color: yellow;
    cursor: pointer;
}